.blog-post-content h1 {
    text-align: center;
}

.blog-post-content {
    font-size: 18px;
}

.blog-content-left {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mar {
    margin-top: 10px;
}

.blog-related-img img {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
}

.blog-related-img {
    display: flex;
    justify-content: center;
}

.blog-update {
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 300;
    opacity: 73%;
    box-shadow: 1 0 5px 1px grey;
    background-color: rgb(240, 239, 239);
}

.addthis_inline_share_toolbox_epaq {
    margin-top: 3px;
}
