@media screen and (max-width :750px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 15px;
    }
    .left {
        flex-direction: row;
        text-align: center;
    }
    .content {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .content-right img {
        height: 280px;
    }
    .paras {
        padding: 15px;
    }
    .home-article-content {
        padding-left: 0px;
    }
    .home-article img {
        text-align: center;
        width: 250px;
    }
    .blog-related-img img {
        width: 85vw;
        height: 30vh;
    }
    footer img {
        width: 85vw;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width :650px) {
    .addthis_inline_share_toolbox_epaq {
        justify-content: center;
    }
}
