@media screen and (max-width :750px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 15px;
    }
    .right img {
        width: 45vw;
    }
    .left {
        flex-direction: row;
        text-align: center;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-right img {
        height: 287px;
    }
    .paras {
        padding: 15px;
    }
    .home-article img {
        text-align: center;
        width: 250px;
    }
    .home-article-content {
        padding-left: 0px;
    }
}

@media screen and (max-width :650px) {
    .right img {
        width: 60vw;
    }
    .addthis_inline_share_toolbox_epaq {
        justify-content: center;
    }
    .item {
        width: 40vw;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    .item_blog {
        width: 40vw;
    }
    .join_btn {
        padding-top: 10px;
    }
    .join_btn h3 {
        padding: 6px 10px;
    }
    .site_construction img {
        height: 45vh;
    }
    .foot-img img {
        width: 80vw;
    }
}

@media screen and (max-width: 360px) {
    .item {
        width: 80vw;
    }
    .site_construction img {
        height: 35vh;
    }
}
