:root {
    --main-bg-color: brown;
    --font1: 'Ubuntu', sans-serif;
    --font2: 'Fredoka One', cursive;
    --font3: 'Sansita Swashed', cursive;
    --font4: 'Timmana', sans-serif;
    ;
}

.font1 {
    font-family: var(--font1);
    font-weight: 800;
}

.font2 {
    font-family: var(--font2);
}

.font3 {
    font-family: var(--font3);
}

.font4 {
    font-family: var(--font4);
}

.max-width-1 {
    max-width: 90vw;
    box-shadow: 1px 1px 5px grey;
}

.max-width-2 {
    max-width: 70vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 0 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-control {
    /* margin: 0 0px; */
    width: 130px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font1);
}
.paras {
    padding: 10px;
}
